/*--------------elements-------------*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Raleway', serif;
}

h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto ;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
}

p{

    line-height: 2;
}
a{
  color: #11999E;
  text-decoration:none;
  font-family: 'Raleway' sans-serif;
}

h2 {
    color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

hr{
border: dotted grey 6px;
border-bottom: none;
width: 5%;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
/*---------------------classes-------------------*/
.profession{
  font-family: 'Raleway'sans-serif;
  font-family: 'Roboto Condensed', sans-serif;

}

.code-img{
width: 25%;
float: left;
margin-right:  30px;

}

.food-img{
width: 25%;
float: right;
margin-left:  30px;


}

.bottom-container{
  background-color:#66BFBF;
  padding:50px 0 30px 0;
  color:white;
}

.skill-row{
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;

  font-weight: 500;

}
.middle-container{
  background-color: #E4F9F5;
  font-weight: 500;
  padding:30px 0  ;
}
 .topcontainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 40px
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}

.contact-me{
  padding-top: 20px;
  width: 40%;
  margin: 40px auto 60px;
}

.profile{
padding-top: 50px;
}
.footer-link{
  color: #11999E;
  padding:10px;
}
.footer-link:hover{
  color:black;
}
.btn{
border:solid;
padding: 20px 40px;
}
.btn:hover{
  border-color: #66BFBF;
background: #66BFBF;
color: white;

}
